VITE_APP_ORIGIN=https://alttextgeneratorpro.com
VITE_AGENT_API_ORIGIN=https://alt-text-gen-pro-backend-4e3b4315d0d7.herokuapp.com
VITE_CHROME_LINK=https://chromewebstore.google.com/detail/alt-text-generator-pro/gdijbieeagfndfaokkpbcekndoldmilp
VITE_STAGING=false
