VITE_API_BASE_URL=https://alt-text-gen-pro-backend-4e3b4315d0d7.herokuapp.com
VITE_APP_ORIGIN=https://your-domain.com
VITE_CHROME_LINK=https://chrome.google.com/webstore
VITE_SHOPIFY_LINK=https://your-domain.com/shopify-waitlist
VITE_WORDPRESS_LINK=https://your-domain.com/wordpress-waitlist
VITE_STAGING=false
